parameters:
	dumpFile: %appDir%/db/createdb.sql
	dbFile: %appDir%/db/db.sqlite

database:
	dsn: 'sqlite:%dbFile%'


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter
	dbcreator: 
		factory: App\DatabaseCreator
		setup:
			- setDumpFilePath(%dumpFile%)
			- setDbFilePath(%dbFile%)