parameters:
	dumpFile: %appDir%/db/createdb.sql
	dbFile: %appDir%/temp/db.sqlite

database:
	dsn: 'sqlite:%dbFile%'


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter
	dbInitializer:
		factory: App\DatabaseInitializer
		setup:
			- setDumpFilePath(%dumpFile%)
