<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">

		<title>Scrum Poker{ifset title} - {include title|stripHtml}{/ifset}</title>
	</head>

	<body>
		<div class="header">
			{if $user->isLoggedIn()}
				{$user->getIdentity()->username}
				(<a n:href="LogOut:default">Log out</a>)
			{else}
				Anonym
			{/if}
		</div>
		
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

		<div id="content">
			{include content}
		</div>

		{block scripts}
			<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
		{/block}
	</body>
</html>
