{block title}Meetings{/block}

{block content}
<table>
	<tr>
		<th>Datum</th>
		<th>Název</th>
	</tr>
		
	{foreach $meetings as $meeting}
		<tr>
			<td>{$meeting->meeting_date}</td>
			<td><a n:href="Meeting:default $meeting->id">{$meeting->name}</a></td>
		</tr>
	{/foreach}

</table>

<a n:href="Meetings:add">Create Meeting</a>